p {
    font-size: medium;
}
.centerCol {
    height: 70px;
    align-items: center;
}

.featureName {
    display: inline-flex;
    height: 55px;
    padding: 0 5px;
    align-items: center;
}

.conditionText {
    width: 120px
}

.icon {
    width: 32px;
}

.title p{
    margin-top: 12px;
}